<div class="body">
  <div class="login">
    <h1 class="h3 mb-3 fw-normal">Login</h1>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label>Usuario</mat-label>
      <input matInput />
    </mat-form-field>
    <mat-form-field class="ancho" appearance="fill">
      <mat-label >Contraseña</mat-label>
      <input matInput type="password"/>
    </mat-form-field>
    <br />
    <button
      (click)="ingresar()"
      class="ancho"
      mat-raised-button
      mat-button
      color="primary"
    >
      Login
    </button>
  </div>
</div>
