.body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    height: 100%;
  }
  .form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    text-align: center;
  }

  .ancho {
    width: 80%;
  }
